    @layout("yes") {
    <div class="alert alert-danger cen" role="alert">
        <strong>NIE JESTES ADMINISTRATOREM</strong>
    </div>

    <style>
    .cen {
    margin-top: 150px;
    }
    </style>
    }
