@import helper._
@(tranForm: Form[Tranings])(implicit messages: Messages)

@layout("yes") {

    <div class="container cen">
        <form method="post" action="@controllers.routes.User.addTraning">

            <div class="form-group">
                <label><h3>Nazwa treningu</h3></label>
                <input name="name" type="text" class="form-control" id="name" required="required">
            </div>
            <div>
                <label><h3>Cena treningu w zł </h3></label>
                <input name="price" type="number" id="price" value='0' min="0" data-bind="value:price" required="required" />
            </div>


            <div class="form-group">
                <label><h3>Czas traningu</h3></label>
                <select id="time" class="form-control form-control-lg" name="time" >
                    <option>0.5h</option>
                    <option>1.0h</option>
                    <option>1.5h</option>
                    <option>2.0h</option>
                    <option>2.5h</option>
                    <option>3.0h</option>
                </select>
            </div>

            <div class="form-group">
                <label><h3>Data traningu</h3></label>
                <input type="datetime-local" id="date"
                name="date" value="2018-12-14T09:00"
                min="2018-12-13T15:00" max="2018-12-31T00:00" required="required">
            </div>

            <div class="form-group">
                <td>
                    <button type="submit" class="btn btn-primary">Dodaj trening</button>
                </td>
            </div>

        </form>
    </div>

    <style>
            .cen {
                margin-top: 100px;
            }
    </style>


}

