@layout("Index") {
    
        <div id="myCarousel" class="carousel slide ima" data-ride="carousel">


                <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active cas">
                    <img class="casimg" src="@routes.Assets.at("images/1.jpg")" >
                    <div class="carousel-caption cen">
                        <p class="font-weight-bold">Zapisz sie na trening!</p>
                    </div>
                </div>

                <div class="item cas ">
                    <img class="casimg" src="@routes.Assets.at("images/2.jpg")" >
                    <div class="carousel-caption cen">
                        <p class="font-weight-bold">Ćwicz!</p>
                    </div>
                </div>


                <div class="item cas ">
                    <img class="casimg" src="@routes.Assets.at("images/3.jpg")" >

                    <div class="carousel-caption cen">
                        <p class="font-weight-bold">Ciesz się rezultatami!</p>
                    </div>
                </div>
            </div>
        </div>

            <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left icon-arrow-left"></span>
            <span class="sr-only"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right icon-arrow-right"></span>
            <span class="sr-only"></span>
        </a>
        </div>



        <style>

                .cas {
                    width: 100%;
                }

                .casimg {
                    width: 100%;
                    height: 700px;
                }

                .cen {
                    text-align: center;
                    font-size: 150%;
                }

                .ima {
                    margin-top: -20px;
                }

        </style>
    }

