@import play.api.libs.json.JsValue
@(profile: JsValue,tranings: List[Tranings])
    @layout("yes") {


    <table class="table table-hover cen">
            <thead class="thead-dark">
                <tr style="color: whitesmoke;">
                    <th scope="col">Data</th>
                    <th scope="col">Trening</th>
                    <th scope="col">Czas</th>
                    <th scope="col">Cena</th>
                </tr>
            </thead>
            <tbody>
            @tranings.map { traning =>
                <tr>

                    <th>@traning.data</th>
                    <td>@traning.name</td>
                    <td>@traning.time</td>
                    <td>@traning.price</td>

                    <form method="post" action="@controllers.routes.User.saveTraning(traning.id)">

                        <td>
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </td>
                    </form>
                </tr>
            }
            </tbody>
        </table>
<style>
    .cen {
    margin-top: 50px;
    }
</style>
}

