@import play.api.libs.json.JsValue

@(profile: JsValue)

    @layout("yes") {

        <div class="container cen">
            <div class="login-page clearfix ">
                <div class="logged-in-box auth0-box logged-in">
                    <h2 style="color: #040404;"> Witaj twój mail to @((profile \ "name").as[String]) </h2>
                    <img class="avatar" src='@((profile \ "picture").as[String])'/>
                </div>
                <h2 style="color: whitesmoke;" > Nie czekaj na nowy rok ! </h2>
                <h3 style="color: whitesmoke;"> Zapisz się na trening już dziś!</h3>

            </div>
        </div>


        <style>
                .cen {
                    margin-top: 150px;
                }

        </style>
    }
